/* Container - Fixed overlay que cubre toda la pantalla */
.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

/* Canvas - Fullscreen */
.canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}
